<div class="story-container">
  <!-- NARRADOR -->
  <div class="narrator" *ngIf="story.currentScene?.narration">
    {{ story.currentScene.narration }}
  </div>

  <!-- ESCENA VISUAL -->
  <div class="scene-frame">
   <img
  [src]="story.currentScene?.image"
  [alt]="story.currentScene?.title"
  (error)="onImageError($event)"
/>


    <!-- GLOBO DE DIÁLOGO -->
    <div class="dialogue-bubble" *ngIf="story.currentScene?.dialogue">
      <p>{{ story.currentScene.dialogue }}</p>
    </div>
  </div>

  <!-- CONTROLES -->
  <div class="controls">
    <button (click)="prevScene()" [disabled]="story.isFirst">⟵ Anterior</button>
    <button (click)="nextScene()" [disabled]="story.isLast">Continuar ⟶</button>
  </div>
</div>
